/* @media(min-width: 1200px) {
    .spellbook {
        width: 50%;
        margin: auto;
    }
}

@media(max-width: 1200px) {
    .spellbook {
        margin: 0 8px;
    }
} */

.spellbook {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 8px;
    row-gap: 8px;
}

.spellbook-container {
    padding: 8px;
}

.spellbook-container h1 {
    margin: 8px 0;
}