.spell {
    padding: 8px;
    border: 1px solid black;
    margin: 8px 0;
}

.spell-info {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "name spell-school"
        "name spell-level"
}

.spell-info-icon {
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}

.spell-name {
    grid-area: name;
    font-size: 1.7em;
}

.spell-level {
    grid-area: "level";
    justify-self: right;
}

.spell-school {
    grid-area: "school";
    justify-self: right;
}

.spell-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
}

.spell-stats span:first-child {
    justify-self: left;
}

.spell-stats span {
    justify-self: center;
}

.spell-stats span:last-child {
    justify-self: right;
}

.spell-stats-icon {
    float: left;
    margin-top: 4px;
    margin-right: 4px;
}

.m-r-4 {
    margin-right: 4px !important;
}